/*start http://stackoverflow.com/questions/19064987/html-css-popup-div-on-text-click#19065024*/
.black_overlay {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  padding: 16px;
  border: 20px solid rgba(0, 0, 0, 0.3);
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  
  background-color: #fff;
  z-index: 1002;
  overflow: auto;
}
/*end http://stackoverflow.com/questions/19064987/html-css-popup-div-on-text-click#19065024*/

a.lightbox-close{
  text-align:right;
}

.lb-close{
  display:block;
  float:right;
  margin:0px 1px;
}

.hide{
  display:none;
}

.preview-thumb{
  width:80%;
  height:200px;
}

button.delete-button{
  background:none!important;
  color:inherit;
  border:none; 
  padding:0!important;
  font: inherit;
  /*border is optional*/
  border-bottom:1px solid #444; 
  cursor: pointer;
  display: block;
  float:left;
}

a{
  cursor:pointer;
}
a:hover{
  text-decoration: underline;
}

@media (max-width: 480px){
  .white_content{
    top:5%;
    left:5%;
    width:90%;
    height:90%;
  }
}